@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
body {
  font-family: "Poppins";
  margin: 0;
  background-color: #000;
}

.navigation {
  height: 70px;
  background: #000;
}

.nav-container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container .cartIcon {
  margin-right: 20px;
  margin-top: -10px;
  position: relative;
}
.nav-container .cartIcon img {
  width: 25px;
  height: 25px;
}
.nav-container .cartIcon .cartItems {
  color: #fff;
  position: absolute;
  top: -10px;
}

.brand {
  padding-left: 20px;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #fff;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: end;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
nav ul.upperPart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}
nav ul.upperPart li {
  color: #fff;
}
nav ul.lower-part {
  background: linear-gradient(to left, #1E2226 50%, #000000 100%);
  border-radius: 25px;
}
nav ul li a {
  padding: 0px 20px;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}
nav ul li a svg {
  margin-right: 5px;
  fill: #ffffff;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul.nav-dropdown {
  background-color: #000;
}
nav ul li ul.nav-dropdown li {
  min-width: 190px;
}
nav ul li ul.nav-dropdown li a {
  padding: 15px;
  line-height: 20px;
}
nav .searchIcon {
  width: 50px;
  height: 50px;
  background-color: #FF461C;
  border: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
nav .searchIcon .fa {
  color: #fff;
}
nav .nav-dropdown.searchField {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: #fff;
  border-radius: 25px;
  background: linear-gradient(to left, #FF461C 0%, #FE7903 75%);
}
nav .nav-dropdown.searchField.show {
  display: block;
}
nav .nav-dropdown.searchField.show.mobile-search {
  display: none;
}
nav .nav-dropdown.searchField .advancedSearch {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
nav .nav-dropdown.searchField .advancedSearch input {
  border: none;
  width: 100%;
  background: transparent;
  color: #fff;
}
nav .nav-dropdown.searchField .advancedSearch input:focus {
  caret-color: white;
  outline: none;
}
nav .nav-dropdown.searchField .advancedSearch input::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FEB27F;
  opacity: 1;
  /* Firefox */
}
nav .nav-dropdown.searchField .advancedSearch input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FEB27F;
  opacity: 1;
  /* Firefox */
}
nav .nav-dropdown.searchField .advancedSearch input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #FEB27F;
}
nav .nav-dropdown.searchField .advancedSearch input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #FEB27F;
}
nav .nav-dropdown.searchField .advancedSearch button {
  text-wrap: nowrap;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}
nav .nav-dropdown.searchField .crossButton {
  position: absolute;
  right: 0px;
  top: 10px;
  opacity: 1;
  cursor: pointer;
}
nav .nav-dropdown.searchField .crossButton:before, nav .nav-dropdown.searchField .crossButton:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #FEB27F;
}
nav .nav-dropdown.searchField .crossButton:before {
  transform: rotate(45deg);
}
nav .nav-dropdown.searchField .crossButton:after {
  transform: rotate(-45deg);
}

.nav-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
.nav-dropdown.show {
  display: block;
  width: 100%;
  top: 60px;
  left: 0;
  border-radius: 20px;
  background: transparent;
}
.nav-dropdown.show:not(.searchField)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: -1;
}
.nav-dropdown li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}
.nav-dropdown li.category {
  padding: 10px;
  border-radius: 5px;
  background: linear-gradient(to left, #56524E 0%, #132026 100%);
}
.nav-dropdown li.category .categoryName {
  margin: 0;
  color: #fff;
}
.nav-dropdown li.category .viewAllButton {
  border: none;
  background: transparent;
  color: #fff;
}
.nav-dropdown .subCategory {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 15px;
  padding-left: 15px;
}
.nav-dropdown .subCategory p {
  min-width: 100px;
}
.nav-dropdown .subCategory p img {
  width: 30px;
  border-radius: 50%;
}
.nav-dropdown .subCategory p a {
  display: block;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-dropdown .subCategory.prePaidCards a {
  flex-direction: column;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 35px;
  background: #000;
  height: 70px;
  width: 70px;
}

.bannarImage img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

@media only screen and (max-width: 799px) {
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav .nav-mobile {
    display: block;
  }
  nav .nav-mobile p.searchIcon {
    position: absolute;
    top: -5px;
    right: 60px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav ul {
    display: none;
  }
  nav ul.upperPart {
    display: none;
  }
  nav ul.active {
    display: block;
    position: absolute;
    right: 0;
    background-color: #000;
    border-radius: 0;
    width: 100%;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  nav .searchIcon {
    display: none;
  }
  nav .nav-dropdown.searchField.show {
    display: none;
  }
  nav .nav-dropdown.searchField.mobile-search.show {
    position: absolute;
    display: block;
    top: 70px;
    height: 50px;
    width: 90%;
    margin-top: 10px;
  }
  .nav-dropdown {
    position: static;
  }
  .nav-dropdown .subCategory {
    background: linear-gradient(to left, #324248 0%, #625A56 50%);
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #FF461C;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 799px) {
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: end;
  }
}
@media screen and (max-width: 550px) {
  .nav-dropdown .subCategory {
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=main.css.map */