$content-width: 100%;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #000;
$nav-font-color: #fff;
$link-hover-color: #FF461C;

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  font-family: 'Poppins';
  margin: 0;
}

.navigation {
  height: $nav-height;
  background: $nav-background;
}

.nav-container {
  max-width: $content-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .cartIcon {
    margin-right: 20px;
    margin-top: -10px;
    position: relative;

    img {
      width: 25px;
      height: 25px;
    }

    & .cartItems {
      color: $nav-font-color;
      position: absolute;
      top: -10px;
    }
  }
}

.brand {
  padding-left: 20px;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;

  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}

nav {
  display: flex;
  justify-content: center;
  align-items: end;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;

    &.upperPart {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 20px;

      li {
        color: $nav-font-color;
      }
    }

    &.lower-part {
      background: linear-gradient(to left, #1E2226 50%, #000000 100%);
      border-radius: 25px;
    }


    li {

      a {
        padding: 0px 20px;
        line-height: 50px;
        color: $nav-font-color;
        text-decoration: none;
        display: flex;
        align-items: center;

        & svg {
          margin-right: 5px;
          fill: #ffffff;
        }

        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      }

      // Dropdown list
      ul {
        background-color: $nav-background;

        li {
          min-width: 190px;

          a {
            padding: 15px;
            line-height: 20px;
          }
        }
      }
    }
  }

  & .searchIcon {
    width: 50px;
    height: 50px;
    background-color: #FF461C;
    border: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    & .fa {
      color: $nav-font-color;
    }
  }

  .nav-dropdown.searchField {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #fff;
    border-radius: 25px;
    background: linear-gradient(to left, #FF461C 0%, #FE7903 75%);

    &.show {
      display: block;

      &.mobile-search {
        display: none;
      }
    }

    .advancedSearch {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;

      input {
        border: none;
        width: 100%;
        background: transparent;

        &:focus {
          caret-color: white;
          outline: none;
        }

        &::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #FEB27F;
          opacity: 1;
          /* Firefox */
        }

        &:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: #FEB27F;
        }

        &::-ms-input-placeholder {
          /* Microsoft Edge */
          color: #FEB27F;
        }
      }

      button {
        text-wrap: nowrap;
        background: transparent;
        border: none;
        color: #fff;
        cursor: pointer;
      }
    }

    .crossButton {
      position: absolute;
      right: 0px;
      top: 10px;
      opacity: 1;

      &:before,
      &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #FEB27F;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }

  }
}

// #FF461C
// #FE7903


.nav-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);

  &.show {
    display: block;
    width: 100%;
    top: 60px;
    left: 0;
  }
}


.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 35px;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}

.bannarImage {

  img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
  }
}

@media only screen and (max-width: $breakpoint) {

  nav {
    width: 100%;
    padding: $nav-height 0 15px;

    .nav-mobile {
      display: block;

      & p.searchIcon {
        position: absolute;
        top: -5px;
        right: 60px;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    ul {
      display: none;

      &.upperPart {
        display: none;
      }

      &.active {
        display: block;
        position: absolute;
        right: 0;
        background-color: $nav-background;
        border-radius: 0;
      }

      li {

        a {
          padding: 15px;
          line-height: 20px;
        }

        ul li a {
          padding-left: 30px;
        }
      }

    }

    & .searchIcon {
      display: none;
    }

    & .nav-dropdown.searchField.show {
      display: none;
    }

    & .nav-dropdown.searchField.mobile-search.show {
      position: absolute;
      display: block;
      top: 70px;
      height: 50px;
      width: 90%;
      margin-top: 10px;
    }
  }

  .nav-dropdown {
    position: static;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;

  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $link-hover-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }

  span:before {
    top: -10px;
  }

  span:after {
    bottom: -10px;
  }

  &.active span {
    background-color: transparent;

    &:before,
    &:after {
      top: 0;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: end;
  }
}